.con {
    margin-top: 30px;
   /* border: 1px solid black; */
   margin-bottom: 80px;
   
}
.row {
    /* border: 2px solid blue; */
    margin-top: 20px;
    
}
.col {
     /* border: 2px solid green; */
    /* margin-top: 0px; */
    text-align: center;
    
   
}
.space {
    margin: 70px;
}

.label {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}
.div {
    margin-left: 20px;
}

.text_color {
    color: red;
}

.font_title {
    font-weight: bold;
    font-size: 24px;
}
.font_desc {
    font-weight: bold;
    font-size: 16px;
}
.font_placeholder {
    font-size: 20px;
}
@media (max-width: 992px) {
    .font_title {
        font-size: 20px;
    }
    .font_desc {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .font_title {
        font-size: 18px;
    }
    .font_desc {
        font-size: 13px;
    }
}
@media (max-width: 576px) {
    .font_title {
        font-size: 15px;
    }
    .font_desc {
        font-size: 13px;
    }
    .space {
        margin: 30px;
    }
    

}