.font_title {
    color: #8B4513;
    font-weight: bolder;
    text-align: right;
    font-size: 0.8rem;
    
    padding-left: 0px;
}

.font_desc {
    color: black;
    font-weight: bolder;
    text-align: left;
    font-size: 0.8rem;
   
    padding-left: 0px;
}
.row {
    padding: 0px;
    width:auto;
    margin-bottom: 10px  
  }
  .col {
    padding: 0px;
    margin: 0px;
  }
  @media (max-width: 576px) {
    .font_title {
        font-size: 1rem;
    }
    .font_desc{
        font-size: 1rem;
    }
  }