.textCenter {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    /* border: 1px solid red; */
}

.Cont  {
    margin-top: 20px;
}
.font_title {
    font-size: 24px;
}



@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
   
    
}
@media (max-width: 576px) {
    .font_title {
        font-size: 18px;
    }
    
}
